<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <microsoft.web.services3>
    <messaging>
      <maxMessageLength value="-1" />
      <mtom maxMimeParts="1048576"/>
    </messaging>
    <security>
      <timeToleranceInSeconds value="5400"/>
    </security>
  </microsoft.web.services3>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"><dependentAssembly><assemblyIdentity name="Mindjet.MindManager.Interop" publicKeyToken="19247b5ea06b230f" /><bindingRedirect oldVersion="7.0.0.0-7.1.394.0" newVersion="7.1.394.0" /></dependentAssembly></assemblyBinding></runtime></configuration>
